<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static_pages.title"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.home1"), root_path %></li>
        <li><%= link_to t("static_pages.help.help1"), help_path %></li>
        <li><%= link_to t("static_pages.login.login_0"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
